/*styles go here*/

/*p {
    color: red;
}*/

p {
	color: #666666;
    font-family: 'Nunito Sans','Noto Serif JP' sans-serif;
		text-align: center;
		font-weight: normal;

 font-size: 1em;
 background-color: Blue;
}



h1{
 text-align: center;
 font-family:'Roboto', sans-serif;
 font-weight: bold;
 color: white;
 font-size: 2em;
 background-color: lightblue;
}



body {
 text-align: center;
 background-color:white;
 font-weight: bold;
 font-family: 'Bree Serif', serif;
}



.intro{
 max-width: 500px;
}
#container{
   background-color: white;
   width: 80%;
   margin-top: 0;
   margin-right: auto;
   margin-bottom: 0;
   margin-left: auto;
   margin: 0 auto 0 auto;
   margin: 0 auto;
}



#nav {
 padding: 0;
 list-style-type: none;
}



#nav li{
 margin: 0;
 padding: 0;
 border-bottom: 1px solid #ccc;
}



#nav a:link, #nav a:visited {
 display: display;
 color: #fff;
 background-color: white;
 font-weight: bold;
 text-align: center;
 text-decoration: none;
 padding: 4px;
 font-family: 'Roboto', sans-serif;
}



#nav a:hover, #nav a:active {
 background-color: lightblue;
}



#footer{
 color: black;
 font-family:'PT Serif Caption', serif;
 font: 0.8em;
 border-top: 1px solid black;
}



img{
 border: none;
}



@media (min-width: 600px) {
	#nav {
		flex-direction: row;
		justify-content: space-around;
	}
}



nav ul{
 display: none;
}
.cards li{
 border: 3px solid #000000;
 padding: 10px;
 border-radius: 10px;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.card1{
 grid-area: a;
}
.card2{
 grid-area: b;
}
.card3{
 grid-area: c;
}
.card4{
 grid-area: d;
}
.card5{
 grid-area: e;
}
@media screen and (min-width:1000px) {
 .cards {
   display: grid;
   max-width: 700px;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-areas:
       "a b b"
       "c c e"
       "d d .";
 }
 }
 @media screen and (min-width:1200px) {
   .cards {
     display: grid;
     max-width: 700px;
     grid-template-columns: 2fr 1fr 1fr;
     grid-template-areas:
         "b b a"
         "c e e"
         "d d d";
   }
   }
   .menu-trigger {
       order: 1;
       font-size: 1.75em;
       width: 2em;
       float: left;
       color: blue;
   }



   h1 {
       order: 2;
       font-size: 2em;
   }



   nav ul {
       display: none;
   }


   @media screen and (min-width: 700px){



       nav ul {
           display: flex;
       }



       nav ul li {
           border-top: none;
       }



       .menu-trigger {
           display: none;
}

}

h1 {
    font-family: 'Nunito Sans', sans-serif;
		text-align:center;
		font-weight: bold;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 2px solid #ccc;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: normal;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Nunito Sans', sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}


#footer {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}
